<h2>編集画面 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>



  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br />


    <div class="field">
    <%= f.label :部署名 %><br />
    <%= f.select :department, {'営業1部':1, '営業2部':2, '営業3部':3, 'マーケティング1部':4, 'マーケティング2部':5, '技術1部':6, '技術2部':7, '技術3部':8,} %>
  </div>

    <div class="field">
    <%= f.label :肩書 %><br />
    <%= f.select :position, {'担当':1, '主任':2, '課長':3, '部長':4, '技術師':5, '技術主任':6, '技術課長':7, '技術部長':8,} %>
  </div>

  <div class="field">
    <%= f.label :顔写真、キャラクタをアップロードしてください %><br />
    <%= f.file_field :image %>
    <br>
    <%= f.submit "画像のアップロード" %>
    <%= f.label :画像の削除 %>
    <%= f.check_box :remove_image %>
      
  </div>
  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %> 

  <div class="field">
    <%= f.label :password %> <i>(変更しない場合は、そのままにしてください。leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em>最低、<%= @minimum_password_length %>文字入力してください。<%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
<br />
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(確認のため、現在のパスワードを入力してください。we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>

<h3>アカウントの取消し</h3>

<p> <%= button_to "アカウントの取り消し", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
