<h2>新規登録画面</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>



  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>


  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

    <div class="field">
    <%= f.label :部署名 %><br />
    <%= f.select :department, {'営業1部':1, '営業2部':2, '営業3部':3, 'マーケティング1部':4, 'マーケティング2部':5, '技術1部':6, '技術2部':7, '技術3部':8,} %>
  </div>

    <div class="field">
    <%= f.label :肩書 %><br />
    <%= f.select :position, {'担当':1, '主任':2, '課長':3, '部長':4, '技術師':5, '技術主任':6, '技術課長':7, '技術部長':8,} %>
  </div>

  <div class="field">
    <%= f.label :パスワードを指定ください %>
    <% if @minimum_password_length %>
    <em>(最低、<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :再度、パスワードを入力してください %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :顔写真、キャラクタをアップロードしてください %><br />
    <%= f.file_field :upload_file %>
  </div>
  
  <div class="actions">
    <%= f.submit "画像のアップロード" %>
  </div>
  
</div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
