<body>
  <div class= project_list>

  <h1>Projects詳細</h1>

  <%= form_with(model: @project, local: true) do |form| %>
    <%= form.label :顧客名 %><br>
    <%= form.collection_select(:customer_id, @customers, :id, :customer_name) %>
    <%= form.label :プロジェクト名 %><br>
    <%= form.text_field :project_name %><br>
    <%= form.label :ユニット名 %><br>
    <%= form.text_field :board_name %><br>
    <%= form.submit "保存", class: "btn_delete" %>
  <% end %> 

    <%= link_to new_project_sales_condition_path(@project.id) do %>
        <button type="button" class = "btn_delete" ><i class="fas fa-eraser"></i> 詳細作成</button>
    <% end %>

  <button type="button" class="btn_new" onclick="location.href='/index'"><i class="fas fa-undo-alt"></i>戻る</button>


    </div>
</body> 