<body>
  <div class= project_list>

  <h1>Projects詳 細</h1>

  <%= form_with(model: @project, local: true) do |form| %>
    <%= form.label :顧客名 %><br>
    <%= form.collection_select(:customer_id, @customers, :id, :customer_name) %>
    <%= form.label :プロジェクト名 %><br>
    <%= form.text_field :project_name %><br>
    <%= form.label :ユニット名 %><br>
    <%= form.text_field :board_name %><br>
    <%= form.submit "保存", class: "btn_delete" %>
  <% end %> 

    <%= link_to new_project_sales_condition_path(@project.id) do %>
        <button type="button" class = "btn_delete" ><i class="fas fa-eraser"></i> 詳細作成</button>
    <% end %>

  <button type="button" class="btn_new" onclick="location.href='/index'"><i class="fas fa-undo-alt"></i>戻る</button>


  <div class= sales_condition_index>
    <table border = "1", bordercolor="black">
        <tr>
          <th>ソート</th>
          <th>メーカー</th>
          <th>型番</th>
          <th>試作時期</th>
          <th>量産時期</th>
          <th>販売単価</th>
          <th>仕入れ単価</th>
          <th>月産数量</th>
          <th>量産場所</th>
          <th colspan="3"></th>
        </tr>
        <% @sales_conditions.each do |good| %>
          <tr>
            <td><%= check_box_tag :sample %></td>
            <td><%= good.vendor %></td>
            <td><%= good.part_number %></td>
            <td><%= good.prot_date %></td>
            <td><%= good.mp_date %></td>
            <td><%= good.sell_price %></td>
            <td><%= good.buy_price %></td>
            <td><%= good.quantity_month %></td>
            <td><%= good.mp_site %></td>
          </tr>
        <% end %>
    </table>
  </div>
</body> 