<!DOCTYPE html>
<html lang="ja">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <body>
    <div id=body_login>
      <div class = window>
        <%= render partial:'main_view' %>
      </div>

      <div class=login_box>
          <h1>日々の営業活動の記録</h1>
          <br>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :パスワード %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :パスワード記憶する場合はチェック %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "ログイン" %>
            </div>
            
            <button>
              <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post %>
            </button>

              <%= render "devise/shared/links" %>

          <% end %>
      </div>

    </div>

    <footer>
    <small>&copy; 2020 Sales Note </small>
    </footer>

  </body>

