<body>
  <div class = main>
    <div class= sales_forcast>
      <h1>
        <%= image_tag 'rogo.png', class: 'logo'%>
      </h1>
      <h2 class = "wf-racing">Sales Note</h2>
      
      <div class = sales-total>
        <p> <font size="6">2020年</font> 売上/利益</p> 
        <p>US$13M/US$1.2M</p>
        <div class="small-box bg-success">
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
        </div>
      </div>
      
      <div class = sales-total>
        <p> <font size="6">2021年</font> 売上/利益</p> 
        <p>US$15M/US$1.4M</p>
      </div>
      
      <div class = sales-total>
        <p> <font size="6">2022年</font> 売上/利益</p> 
        <p>US$19M/US$2.0M</p>
      </div>
      
       <% if user_signed_in? %>
          <%= link_to "新規投稿", new_post_path, class: "header__right--btn" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
          <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
        <% end %>


      <div class="input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="検索" aria-label="Search">
        <div class="input-group-append">
          <i class="fas fa-search"></i>
          <button class="btn btn-navbar" type="submit"></button>
        </div>            
      </div>


      <button type="button" class="btn_new" onclick="location.href='/posts/new'"><i class="fas fa-edit"></i>新規作成</button>

    </div>
      
    <div class="chart_box">
    <div style="width:600px; height:300px;">
      <canvas id="sales_chart">
        Canvas not supported...
      </canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
      <script>
        (function() {
          'use strict';
          var type = 'doughnut';

          var data = {
            labels: ['hoge', 'hoga', 'huga', 2023],
            datasets: [{
              label: '期初計画',
              data: [4, 4, 3, 2]
            }, {
              label: '最新情報',
              data: [2, 3, 4, 6]
            }]
          };

          var options = {
              title: {
          display: true,
          text: '2020 Sales',
          fontSize: 30,
          position: 'left'
              }
          };

          var options = {
              tooltips: {
          enabled: true,
          mode: 'index',
          intersect: false,
          position: 'nearest',
          backgroundColor: 'rgb(0,128,0)',
          titleFontSize: 16,
          titleFontStyle: 'oblique',
          titleFontColor: 'yellow',
          titleSpacing: 10,
          titleMarginBottom: 15,
          bodyFontSize: 14,
              }
          };
          var ctx = document.getElementById('sales_chart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: type,
            data: data,
            options: options
          });
        })();
      </script>
    </div>


    <div style="width:600px; height:300px;">
      <canvas id="sales_chart3">
        Canvas not supported...
      </canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
      <script>
        (function() {
          'use strict';
          var type = 'bar';

          var data = {
            labels: [2020, 2021, 2022, 2023],
            datasets: [{
              label: '期初計画',
              data: [13, 15, 19, 21]
            }, {
              label: '最新情報',
              data: [13.5, 15.5, 18, 22]
            }]
          };

          var options = {
              title: {
          display: true,
          text: 'Annual Sales',
          fontSize: 30,
          position: 'left'
              }
          };

          var options = {
              tooltips: {
          enabled: true,
          mode: 'index',
          intersect: false,
          position: 'nearest',
          backgroundColor: 'rgb(0,128,0)',
          titleFontSize: 16,
          titleFontStyle: 'oblique',
          titleFontColor: 'yellow',
          titleSpacing: 10,
          titleMarginBottom: 15,
          bodyFontSize: 14,
              }
          };
          var ctx = document.getElementById('sales_chart3').getContext('2d');
          var myChart = new Chart(ctx, {
            type: type,
            data: data,
            options: options
          });
        })();
      </script>
    </div>




       <div style="width:600px; height:300px;">
      <canvas id="sales_chart2">
        Canvas not supported...
      </canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
      <script>
        (function() {
          'use strict';
          var type = 'line';

          var data = {
            labels: [2020, 2021, 2022, 2023],
            datasets: [{
              label: '期初計画',
              data: [13, 15, 19, 21]
            }, {
              label: '最新情報',
              data: [13.5, 15.5, 18, 22]
            }]
          };

          var options = {
              title: {
          display: true,
          text: 'Annual Sales',
          fontSize: 30,
          position: 'left'
              }
          };

          var options = {
              tooltips: {
          enabled: true,
          mode: 'index',
          intersect: false,
          position: 'nearest',
          backgroundColor: 'rgb(0,128,0)',
          titleFontSize: 16,
          titleFontStyle: 'oblique',
          titleFontColor: 'yellow',
          titleSpacing: 10,
          titleMarginBottom: 15,
          bodyFontSize: 14,
              }
          };
          var ctx = document.getElementById('sales_chart2').getContext('2d');
          var myChart = new Chart(ctx, {
            type: type,
            data: data,
            options: options
          });
        })();
      </script>
    </div>
    </div>


    <div class= project_list>
      <% @posts.each do |post| %>
        <div class="post">
          <div class="post-date">
            投稿日時：<%= post.created_at %>
          </div>
          <div class="post-content">
            <%= post.content %>
          </div>
        </div>
      <% end %>
    </div>
    
  <div>
</body>
