<body>
  <div class = main>
    <div class= sales_forcast>
      <h1>
        <%= image_tag 'rogo.png', class: 'logo'%>
      </h1>
      <h2 class = "wf-racing">Sales Note</h2>
      
      <div class = sales-total>
        <p> <font size="6">2020年</font> 売上/利益</p> 
        <p>US$13M/US$1.2M</p>
        <div class="small-box bg-success">
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
        </div>
      </div>
      
      <div class = sales-total>
        <p> <font size="6">2021年</font> 売上/利益</p> 
        <p>US$15M/US$1.4M</p>
      </div>
      
      <div class = sales-total>
        <p> <font size="6">2022年</font> 売上/利益</p> 
        <p>US$19M/US$2.0M</p>
      </div>
      
       <% if user_signed_in? %>
          <%#   <%= link_to "新規投稿", new_post_path, class: "header__right--btn" %> %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
          <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
        <% end %>


      <div class="input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="検索" aria-label="Search">
        <div class="input-group-append">
          <i class="fas fa-search"></i>
          <button class="btn btn-navbar" type="submit"></button>
        </div>            
      </div>


      <button type="button" class="btn_new" onclick="location.href='/projects'"><i class="fas fa-edit"></i>新規Project作成</button>

    </div>
    </body>
    
    


