<body>
  <div class=side>

    <div class = sales_person>
      <div class = sales_image>
        <% if current_user.image? %>
          <%= image_tag current_user.image.url, :size => '50x50'%>
        <% else %>
          <%= image_tag "/assets/default.jpg", :size => '50x50'%>
        <% end %>
      </div>
      <div class = sales_name>
        <%= current_user.name %> さん 
        <button type="button" class="btn_user_edit" onclick="location.href='/users/edit'"><i class="fas fa-cog"></i></button>
      </div>
    </div>
      <div class=customer_list>
        <div class = list_box>
          <b><font size="5"><p class = customer_name>顧客名</font></b><br>チェックボックス：ソート</p>
            <% @customers.each do |hoge| %>
              <p>
              <%= check_box_tag :sample %>
              <%= label_tag  %>
              <%= link_to edit_customer_path(hoge) do %>
                <%= hoge.customer_name %> 
              <% end %>
              </p>
            <% end %>
            <%= link_to "＋ 新規顧客", new_customer_path, class: "header__right--btn" %>

        </div>
      </div>
  </div>
</body>